
@media (min-width: 760px) {
    /* Header */
    #mobile-menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
    }

    header nav a {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        color: var(--white);
    }

    /* Main */
    main {
        max-width: 1200px;
    }

    main h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .container-temples {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}