:root {
    --dark-purple: rgb(81, 25, 134);
    --white: #fff;
    --principal-font: "Roboto", sans-serif;
    --white-shadow: rgba(255, 255, 255, 0.2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--principal-font);
    font-size: 0.8rem;
    line-height: 1.6;
}

/* Header Section */
header {
    background-color: var(--dark-purple);
    color: var(--white);
    padding: 1rem 1.5rem;
}

header nav {
    display: flex;
    flex-direction: column;
    
}

header nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white);
}

header nav a:hover {
    background-color: var(--white-shadow);
}

.expand a {
    display: block;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

header #mobile-menu{
    font-size: 2rem;
    border: 0;
    background: none;
    color: var(--white);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#mobile-menu::before {
    content: "☰";
    cursor: pointer;
}

#mobile-menu.expand::before {
    content: "❌";
}

/* Main */
main {
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

main h2 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

main img {
    max-width: 100%;
    height: 200px;
    margin-top: 1rem;
}

main figcaption {
    margin-bottom: 1rem;
    color: var(--dark-purple);
    font-style: italic;
    font-size: 0.9rem;
}

.container-temples {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.card_temple {
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    border: 1px solid #ccc;
}
.card_temple h3 {
        padding-bottom: 0.3rem;
}
.card_temple strong {
        color: var(--dark-purple);
}


/* Footer Section */
footer {
    background-color: var(--dark-purple);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

